html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal; }

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif; }

/*HOME.PHP*/
.home {
  background: url(/MVC/views/images/NY_docks_o.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%; }
  .home .blackBand {
    width: 100%;
    height: 40px;
    background-color: #272727; }
  .home header {
    height: 815px; }
    .home header .homeCard {
      padding-top: 20%; }
  .home h1 {
    font-weight: normal;
    text-align: center; }

/*CITATION.PHP*/
.citation {
  height: 300px;
  width: 450px;
  margin: auto;
  display: block; }
  .citation h1 {
    color: white;
    text-align: center;
    background-color: #565046;
    margin-top: 20%;
    padding-top: 50px; }
  .citation p {
    color: white;
    text-align: center;
    background-color: #272727;
    clear: both; }

/*CARD.PHP*/
.card {
  background-color: white;
  height: 300px;
  width: 450px;
  border-radius: 10px;
  margin: auto; }
  .card .logo {
    float: left;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%; }
  .card .antik p {
    text-align: center; }
  .card .phoneNumber p {
    text-align: center; }
  .card .change {
    display: inline-block;
    margin-left: 15%; }
  .card a {
    background-color: #272727;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 5px;
    font-family: Arial;
    color: white;
    font-size: 12px;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    border: 1px solid #272727; }
    .card a :hover {
      color: #272727;
      background-color: white; }

/*HEADER.PHP*/
/*FOUILLE.PHP*/
.stock {
  height: 100px;
  width: 500px;
  margin: auto; }
  .stock h3 {
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    padding-bottom: 20px; }
  .stock .look {
    width: 300px;
    height: 20px; }
  .stock .cherche {
    background-color: #272727;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 5px;
    font-family: Arial;
    color: white;
    font-size: 12px;
    text-decoration: none;
    border: 1px solid #272727;
    height: 30px;
    width: 100px;
    transform: translateY(-1px); }
    .stock .cherche :hover {
      color: #272727;
      background-color: white; }

/*CATALOGUE.PHP*/
.containerList {
  width: 100%;
  height: 100%;
  overflow: auto; }
  .containerList h3 {
    text-align: center; }
  .containerList .listing {
    width: 95%;
    margin: auto;
    min-width: 250px; }
    .containerList .listing ul li {
      line-height: 1.5em;
      border-bottom: 1px solid #ccc;
      float: left;
      width: 23%; }

/*CONTACT.PHP*/
.ContainerContact {
  max-width: 45em;
  margin: auto; }
  .ContainerContact h1 {
    text-align: center; }
  .ContainerContact p {
    font-size: 20px; }
  .ContainerContact .motte p {
    font-size: 14px;
    transform: translateY(12px); }
  .ContainerContact .motte a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    background-color: #272727;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: white;
    border: 1px solid #272727;
    height: 27px;
    width: 150px;
    transform: translateY(-1px); }
    .ContainerContact .motte a :hover {
      color: #272727;
      background-color: white; }
  .ContainerContact .phone p {
    font-size: 16px; }
  .ContainerContact .street {
    width: 180px;
    height: 60px;
    padding-bottom: 2px;
    transform: translateY(-18px); }
    .ContainerContact .street p {
      font-size: 16px; }
  .ContainerContact .net .jour {
    font-size: 16px; }
  .ContainerContact .net a {
    float: right;
    transform: translate(-160px, -45px);
    margin-right: 25%;
    background-color: #272727;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 5px;
    font-family: Arial;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #272727;
    height: 15px;
    width: 270px;
    text-align: center;
    padding: 8px 8px;
    margin: 2px; }
    .ContainerContact .net a :hover {
      color: #272727;
      background-color: white; }
  .ContainerContact .map {
    margin: auto;
    max-width: 100%;
    padding-left: 10%; }
  .ContainerContact .itineris {
    margin: auto;
    max-width: 100%;
    width: 500px; }

/*STOCK.PHP*/
h2 {
  text-align: center;
  font-weight: normal;
  padding-bottom: 50px;
  font-size: 26px;
  margin-top: 30px; }

.listStock {
  width: 95%;
  margin: auto;
  min-width: 250px; }
  .listStock ul li {
    display: inline-block;
    margin: 10px 5px 0 5px;
    padding: 7px;
    vertical-align: middle;
    position: relative;
    width: 250px;
    min-height: 270px;
    height: auto;
    overflow: hidden;
    background: #272727;
    border: 2px solid #272727;
    color: #F7F7F7; }
    .listStock ul li a {
      text-decoration: none; }
    .listStock ul li h4 {
      color: white;
      text-align: center;
      font-size: 12px;
      font-weight: normal;
      vertical-align: middle; }

/*FOOTER.PHP*/
.foot {
  background-color: #272727;
  height: 300px; }
  .foot p {
    text-align: center;
    color: white;
    font-size: 14px;
    transform: translateY(180px);
    padding-top: 2px;
    padding-bottom: 2px; }
    .foot p .skynet {
      text-decoration: none;
      border-bottom: dotted 1px white;
      color: white;
      padding-right: 3px; }

/*# sourceMappingURL=headfoot.css.map */
