html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-weight: normal;
}
$colordark: #272727;
$b: black;
$w: white;

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/*HOME.PHP*/
.home {
    background: url(/MVC/views/images/NY_docks_o.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
    .blackBand{
        width: 100%;
        height: 40px;
        background-color: $colordark;
    }
    header {
        height: 815px;
        .homeCard {
            padding-top: 20%;
        }
    }
    h1 {
        font-weight: normal;
        text-align: center;
    }
}

/*CITATION.PHP*/
.citation {
    height: 300px;
    width: 450px;
    margin: auto;
    display: block;
    h1 {
        color: $w;
        text-align: center;
        background-color: #565046;
        margin-top: 20%;
        padding-top: 50px;
    }
    p {
    color: $w;
    text-align: center;
    background-color: $colordark;
    clear: both;
    }
}


/*CARD.PHP*/

.card {
        background-color: $w;
        height: 300px;
        width: 450px;
        border-radius: 10px; 
        margin: auto;
        
    .logo {
        float: left;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom:10px;
        width: 100%;
           }
    .antik {
        p {text-align: center;}
        }
    .phoneNumber {
        p {
            text-align: center;
        }
    }
    .change {
        display: inline-block;
        margin-left: 15%;
    }
    a {
        background-color: $colordark;
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 5px;
        font-family: Arial;
        color: $w;
        font-size: 12px;
        padding: 13px 10px 13px 10px;
        text-decoration: none;
        border: 1px solid $colordark;
        :hover {
            color: $colordark;
            background-color: $w;
        }
    }
}
/*HEADER.PHP*/


/*FOUILLE.PHP*/
.stock {
    height: 100px;
    width: 500px;
    margin: auto;
    h3 {
        text-align: center;
        font-weight: normal;
        font-size: 12px;
        padding-bottom: 20px;
    }
    .look {
        width: 300px;
        height: 20px;
    }
    .cherche {
        background-color: $colordark;
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 5px;
        font-family: Arial;
        color: $w;
        font-size: 12px;
        text-decoration: none;
        border: 1px solid $colordark;
        height: 30px;
        width: 100px;
        transform: translateY(-1px);
        :hover {
            color: $colordark;
            background-color: $w;
        }
    }
}

/*CATALOGUE.PHP*/
.containerList{
    width: 100%;
    height: 100%;
    overflow: auto;
    
    h3{
        text-align: center;
        
    }
    .listing {
        width: 95%;
        margin: auto;
        min-width: 250px;
        ul {
            li{
                line-height: 1.5em;
                border-bottom: 1px solid #ccc;
                float: left;
                // display: inline;
                width: 23%;
                }
            }
        }
    }


/*CONTACT.PHP*/
.ContainerContact {
    max-width: 45em;
    margin: auto;
    h1 {
        text-align: center;
    }
    p {
        font-size: 20px;
    }
    .motte {
        p{
        font-size: 14px;
        transform: translateY(12px);
        }
        a {
            text-decoration: none;
            color: $w;
            font-size: 14px;
            background-color: $colordark;
            -webkit-border-radius: 28;
            -moz-border-radius: 28;
            border-radius: 5px;
            font-family: 'Lato', sans-serif;
            font-family: 'Open Sans', sans-serif;;
            color: $w;
            border: 1px solid $colordark;
            height: 27px;
            width: 150px;
            transform: translateY(-1px);
            :hover {
                color: $colordark;
                background-color: $w;
            }
        }
    }
    .phone {
        p {
        font-size: 16px;
        }
    }
    .street {
        width: 180px;
        height: 60px;
        padding-bottom: 2px;
        transform: translateY(-18px);
        p{
            font-size: 16px;
        }
    }
    .net {
        .jour{
            font-size: 16px;
        }
        a {
            float: right;
            transform: translate(-160px, -45px);
            margin-right: 25%;
            background-color: $colordark;
            -webkit-border-radius: 28;
            -moz-border-radius: 28;
            border-radius: 5px;
            font-family: Arial;
            color: $w;
            font-size: 16px;
            text-decoration: none;
            border: 1px solid $colordark;
            height: 15px;
            width: 270px;
            text-align: center;
            padding: 8px 8px;
            margin: 2px;
            :hover {
                color: $colordark;
                background-color: $w;
            }
        }
    }
    .map {
        margin: auto;
        max-width: 100%;
        padding-left: 10%;
    }
    .itineris {
        margin: auto;
        max-width: 100%;
        width: 500px;
    }
}

/*STOCK.PHP*/
h2 {
    text-align: center;
    font-weight: normal;
    padding-bottom: 50px;
    font-size: 26px;
    margin-top: 30px;

}
.listStock {
    width: 95%;
    margin: auto;
    min-width: 250px;;
    ul {
        li {
            display: inline-block;
            margin: 10px 5px 0 5px;
            padding: 7px;
            vertical-align: middle;
            position: relative;
            width: 250px;
            min-height: 270px;
            height: auto;
            overflow: hidden;
            background: #272727;
            border: 2px solid #272727;
            color: #F7F7F7;
            a {
                text-decoration: none;
            }
            h4 {
            color: $w;
            text-align: center;
            font-size: 12px;
            font-weight: normal;
            vertical-align: middle;
            }
        }
    }
}

/*FOOTER.PHP*/
.foot {
    background-color: $colordark;
    height: 300px;
    p {
        text-align: center;
        color: $w;
        font-size: 14px;
        transform: translateY(180px);
        padding-top: 2px;
        padding-bottom: 2px;
        .skynet {
            text-decoration: none;
            border-bottom: dotted 1px $w;
            color: $w;
            padding-right: 3px;
        }
    }
}
            