<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="Document_files/headfoot.css" <="" head="">
</head><body cz-shortcut-listen="true">
    <div class="skyline">  
        <div class="line">
            <p>Antiquités ⚫ Décoration ⚫ Aménagements d'intérieur</p>
        </div>

        <div class="change">
            <input class="click" name"present"="" value="PRESENTATION" type="button">
            <input class="click" name"stock"="" value="LE STOCK" type="button">
            <input class="click" name"contact"="" value="CONTACT" type="button">
        </div>

      
        <div class="eye">
            <img src="Document_files/eye.png">
        </div>
        <div class="call">
            <p>☎ +32 495/20.59.34</p>
        </div>

    </div>

</body></html>